@media (max-width: 576px){
    h1 {
        font-size: 20px;
    }
    h3 {
        font-size: 13px;
    }
    h6 {
        font-size: 12px;
    }
    button {
        width: 30%;
        font-size: 11px !important;
    }
}

@media (max-width: 1399px) {
    .carousel-indicators {
      display: none !important;
    }

    nav.fixed-top.fixed-top {
        position: static;
    }
}

@media (max-width: 991px) {
    li.ps-5 {
        padding-left: 0 !important;
    }
}