h1 {
    background-color:  rgba(156, 183, 205, 0.5);
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    padding: 25px;
}

h2 {
    color: #9cb7cd !important;
}

p {
    font-size: 20px;
}


/*iconos web*/

i {
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
}


/*botones*/

button {
    border: none;
    margin-left: 10px;
    padding: 12px 22px;
    border-radius: 100px;
    color: #fff;
}

.header-style {
    background-color: #aca4a4 !important;
}

.banner-retos {
    display: flex;
    /* align-items: center; */
    background-size: cover;
    background-position: center;
    background-image: url('../imgs/pw_t3_banner_retos.png');
    min-height: 2500px;
}

.nav-logo img {
    width: 60px;
    height: 45px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0px 0px; */
}

.bg-transparent-dark {
    background-color: rgba(0, 0, 0, 0.5) !important; /* Adjust the alpha value for transparency */
}

.espacio {
    padding: 400px 0;
}


.banner-index h1 {
    font-size: 50px;
    color: aliceblue;
}

.btn-general {
    padding: 25px 0;
}

.btn-primary {
    width: 200px;
}