body {
    overflow-x: hidden;
}

p {
    font-size: 18px;
}

header {
    opacity: 1;
    position: fixed;
    z-index: 1000;
    background-color: #006aea;
}

footer {
    position: fixed;
    padding: 20px;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #006aea;
}


/* Extra Small devices (landscape phones, 576px and down)*/

@media (max-width: 576px) {
    footer {
        position: fixed;
    }
}


/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
    footer {
        position: relative;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    footer {
        position: relative;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    footer {
        position: fixed;
    }
}