
p{
    font-size: 20px;
}

/*estilos referentes al titulo Foto #*/
a {
    font-size: 22px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

a:hover {
    color: blue;
}




