@charset "UTF-8";
/****************************** Importación de Fuentes Web ******************************/
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap";
@import "general.scss";

.car-info-bg {
    clip-path: polygon(0% 5%, 52.3% 5%, 39.8% 100%, 0% 100%);
    background-color: $color-palette-6-1;
    // background: #186f8c;
    // background: -webkit-linear-gradient(0deg, #186f8c 0%, #e3fce0 100%);
    // background: linear-gradient(0deg, #186f8c 0%, #e3fce0 100%);
    min-height: $px-600;
    padding-top: $px-100;
}

