@charset "UTF-8";
/****************************** Importaci贸n de Fuentes Web ******************************/
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "general.scss";


/****************************** Variables Globales ******************************/

h2 {
    color: $color-palette-1-2 !important;
}

p.credit-text {
    font-family: $font-family-noto-sans;
    color: $color-primary-grey !important;
}

li {
    color: $color-primary-grey !important;
}

select {
    color: $color-palette-1-1;
    background-color: $color-palette-6-1;
    font-size: 20px;
    border: 1px solid $color-palette-1-2;
    padding: 8px 10px;
}
/*apariencia de los textos que estan dentro del SELECT*/

option {
    font-size: $px-12;
}

option:hover {
    background-color: $color-palette-3-1 !important;
    color: red !important;
}

/****************************** Secci贸n: Banner ******************************/

.text1 {
    padding-left: $px-100;
    padding-top: $px-100;
    font-family: $font-family-fairplay-display;
}

.select-format {
    font-size: 18px;
    font-family: $font-family-noto-sans;
    color: $color-palette-1-1;
    z-index: 10; /* Adjust the z-index as needed */
    position: relative; /* Ensure the z-index takes effect */
}

.credit-banner {
    background-image: url("../imgs/pw_e1_credit_banner.webp");
    background-size: cover;
    height: 600px;
    animation: efect 5s ease-in-out infinite alternate;
}

@keyframes efect {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -100px 0;
    }
}

/****************************** Secci贸n: Lista ******************************/

.list-style:hover {
    background-color: $color-palette-3-1;
    // border-color: $color-palette-1-1;
    border-width: 1px;
    @include transition(all, 1s);
    color: $color-palette-1-1;
}

/****************************** Secci贸n: Select ******************************/
.resultado {
    width: $px-500 !important;
    height: $px-300 !important;
    /*text-align: center;
    display: block;*/
}

@media (max-width: 576px) {
    #resultado {
        /*por mostrar la imagen usando style backgroundImage se deben usar estas instrucciones*/
        background-position: center center !important;
        background-size: 80% !important;
        background-repeat: no-repeat !important;
    }
}

.formato1 {
    font-family: $font-family-noto-sans;
    font-size: $rem-1;
    text-align: left;
}

