@charset "UTF-8";
/****************************** Importación de Fuentes Web ******************************/
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "general.scss";


/****************************** Variables Globales ******************************/

h2 {
    color: $color-palette-1-2 !important;
}

p.credit-text {
    font-family: $font-family-noto-sans;
    color: $color-primary-gray !important;
}

li {
    color: $color-primary-grey !important;
}

/****************************** Sección: Banner ******************************/

.text1 {
    padding-left: $px-100;
    padding-top: $px-100;
    font-family: $font-family-fairplay-display;
}

.select-format {
    font-size: 18px;
    font-family: $font-family-noto-sans;
    color: $color-palette-1-1;
    z-index: 10; /* Adjust the z-index as needed */
    position: relative; /* Ensure the z-index takes effect */
}

.credit-banner {
    background-image: url("../imgs/pw_e1_credit_banner_1920x400.png");
    background-size: cover;
    height: 600px;
    animation: efect 5s ease-in-out infinite alternate;
}

@keyframes efect {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -100px 0;
    }
}