@charset "UTF-8";
/****************************** Importación de Fuentes Web ******************************/
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap";
@import "general.scss";

body {
    background-color: $color-palette-6-1 !important;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;  
    animation: spin 2s linear infinite;
    margin-right: 10px;  
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.reservation-container {
    width: 100%;
    min-height: 80% !important;
    margin-top: $px-100 !important;
    padding-left: 15%;
    padding-right: 15%;
}

.go-back-btn {
    width: 7%;
}